*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    padding:30px;
}

.container{
    max-width:1200px;
    margin:auto;
}

.header{
    text-align:center;
    color:white;
    margin-bottom:30px;
}

.header h1{
    font-size:40px;
}

.dashboard{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:20px;
}

.form-section,
.result-section{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    padding:25px;
    border-radius:20px;
    color:white;
}

.input-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    margin-top:20px;
}

input{
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    margin-top:20px;
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#ff4d6d;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#ff1e4d;
}

#result-card{
    margin-top:20px;
    background:white;
    color:#333;
    padding:20px;
    border-radius:15px;
    text-align:center;
}

.benign{
    color:green;
}

.malignant{
    color:red;
}